html {
    font-size: 16px;

}
body {
    background-color: purple;
    color: #ff6ec7;
}
 h1 {
     font-size: x-large ;
     font-weight: bold;
     color: #ff6ec7 ;
 }

 ul li {
     list-style-type: none;

 }
 li a {
     display: block;
     width: max-content;
     height: 5em;
     font: menu;
     text-decoration: black;
     color: #ff6ec7;
     line-height: 5em;
     padding: 1em 0 1em 0;
     margin-bottom: .2em;
     border-bottom: .125em dotted purple;

 }
 li a:hover {
     color: #ff6ec7;
 }
 li:last-child a{
border-bottom: none;
 }
 img {
width: max-content;
 }
 footer {
     position: sticky;
     background-color: #1b03a3;
         
     
 }
 #thirdwish {
     color: #1b03a3;
 }
 a:link {
     color: #ff6ec7;
     text-decoration: none;
 }
 a:visited {
     color: #ff6ec7;
 }
 a:focus
 {
     outline: 1px solid #ff6ec7;
     padding: -.02em;

 }
 a:hover {
     color: #ff6ec7;
     background-color: #ff6ec7;
 }
 flowers {
     width: 1000px;
 }