html {
    font-size: x-small;

}
body {
    background-image: url(images/unicorn-wallpaper.jpg);
    background-color: purple;
}
 h1 {
     font-size: x-large ;
     font-weight: bold;
     color: #ff6ec7 ;
 }