html {font-size: 10px;}


h1 {font-size: 2.6rem;}

p, li {font-size: 1.4rem; font-family: Exo 2, Helvetica, Arial, sans-serif;}
p, li {color: #383839;}

li { line-height: 1.5;}

a:link { color: #a6ff00; }

a:visited { color: #009900; }

a:hover { color: #000000; background-color: #c1f0cd; text-decoration: none; } 

a:active { color: #c1f0cd; background-color: #000000; text-decoration: none; }

header { background-color:   #3cba54	; border-bottom: .3rem red;}
header > h1 { line-height: 2.0rem; font-size: 50px; text-align: left; color: #2c5da3; padding: 2%;}
main {max-width: auto;}